.main {
  display: flex;
  flex-direction: column;
}

.filter {
  text-align: center;
}

.drop {
  padding: 10px 50px;
  /* margin-top: 10px; */
  border-radius: 5px;
  background-color: lightgray;
  font-size: 18px;
  cursor: pointer;
  color: #233142;
  border: none;
  text-align: center;
}

table {
  margin-top: 30px;
  font-size: 20px;
}

th,
td {
  padding: 10px 30px;
  border: 0.5px solid lightgray;
  font-size: 17px;
  color: #01352c;
  margin-bottom: 10px;
  background-color: #efecea;
}

td:not(:first-child) {
  text-align: center;
}

table th:first-child {
  border-radius: 5px 0 0 0;
}

table th:last-child {
  border-radius: 0 5px 0 0;
}
table tr:last-child td:first-child {
  border-radius: 0 0 0 5px;
}
table tr:last-child td:last-child {
  border-radius: 0 0 5px 0;
}
